$color-orange: #f7600e;
$color-gray: #545b62;
$color-gray-text:#3b434c; 
$color-white: #ffffff;
$color-light-gray: #65696e; 
$color-most-light-gray: #c6c8cb;
$gradient-gray:linear-gradient(to bottom,rgba(#545b62, .9),rgba(#545b62, .9));