.button {
    box-sizing: border-box;
    padding: 14px 56px;
    font-family: opensans;
    font-weight: 600;
    @include font-rem(16);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: $color-orange;
    border: 1px solid $color-orange;
    border-radius: 8px;
    cursor: pointer;
    transition: .7s;

    &:hover {
        background-color: $color-gray;
        border: 1px solid $color-light-gray;
    }
}