.contact {
    background: $gradient-gray, url(../img/Contact/city.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;

    @media (min-width: 992px) {
        padding: 80px 0 95px;
    }

    @media (min-width: 1200px) {
        padding: 100px 0 135px;
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;

        @media (min-width: 992px) {
            width: 830px;
        }
    }
    
    &__introduce {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        &_mail {
            width: 100%;

            @media (min-width: 992px) {
                width: 48%;
            }
        }

        &_subject {
            width: 100%;
            margin-top: 20px;

            @media (min-width: 992px) {
                width: 48%;
                margin-top: 0;
            }
        }

        &_message {
            width: 100%;
            height: 200px;
            margin-top: 30px;
        }
    }
}

.pageTitle {
    &__main.whiteText {
        color: white;
    }
    
    &__description.whiteText {
        color: white; 
    }
}

.feedbackField {
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: opensans;
    font-weight: 400;
    @include font-rem(16);
    text-decoration: none;
    color: $color-light-gray;
    background-color: white;
    border: none;
    border-radius: 8px;
    outline: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }


}

.social {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-top: 30px;

    @media (min-width: 768px) {
        margin-top: 0;
        width: 300px;
    }

    &__item {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        
        &_icon {
            color: white;
            font-size: 28px;
        }
    }
}

.messageSubmit {
    width: 280px;
    
    @media (min-width: 768px) {
    padding: 14px 75px;
    }
}

.Facebook {
    background-color: #205b9f;
}

.Twitter {
    background-color: #00ace3;
}

.GooglePlus {
    background-color: #ff3921;
}

.Dribbble {
    background-color: #ff72a5;
}

.Behance {
    background-color: #009bd5;
}

.footer {
    box-sizing: border-box;
    position: relative;
    padding: 20px 0;
    background-color: $color-gray-text;
    transition: .5s;

    @media (min-width: 768px) {
        padding: 30px 0;
    }
    
    @media (min-width: 1200px) {
        padding: 44px 0 48px;
    }

    &:hover .borderTopLine {
        background-color: #9da1a6;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 577px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    &__text {
        font-family: opensans;
        font-weight: 400;
        @include font-rem(12);
        color: white;
        text-transform: uppercase;

        @media (min-width: 768px) {
            @include font-rem(14);
        }
        
        @media (min-width: 1200px) {
            @include font-rem(16);
        }
        
        span.bold {
            font-weight: 600;
        }
        
        span.red {
            color: red;
        }
    }
}

.borderTopLine {
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: $color-gray-text;
    transition: .5s;
}