.slider {
    background: $gradient-gray, url(../img/Slider/mackbook.png) no-repeat center;
    background-size: cover;
    padding: 42px 0;
    height: 720px;
    box-sizing: border-box;
    text-align: center;

    @media (min-width: 992px) {
        height: 800px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__logo {
        font-family: opensans;
        font-weight: 600;
        @include font-rem(23);
        line-height: 23px;
        color: white;
                
        @media (min-width: 992px) {
            margin-left: 95px;
        }
        
        span {
            color: $color-orange;
        }
    }

    &__menu {
        font-family: opensans;
        font-weight: 400;
        @include font-rem(16);
        color: white;
        display: flex;
        cursor: pointer;
        
        &_hamburger {
            height: 20px;
            margin-left: 16px;
            display: flex;
            flex-direction: column;                
            justify-content: space-between;

            &Item {
                width: 27px;
                height: 2px;
                background-color: white;

            }
        }
    }
}

.top {
    &__title {
        display: inline-block;
        margin: 80px 0 0;
        font-family: opensans;
        font-weight: 800;
        @include font-rem(50);
        line-height: 1;
        text-transform: uppercase;
        color: white;

        @media (min-width: 576px) {
            margin: 100px 0 0;    
        }

        @media (min-width: 768px) {
            @include font-rem(60);       
        }
        
        @media (min-width: 992px) {
            margin: 165px 0 0;
            @include font-rem(70);
        }

        span {
            display: block;
            color: $color-orange;

            @media (min-width: 576px) {
                display: inline-block;
            }
        }
    }

    &__description {
        display: inline-block;
        max-width: 770px;
        margin-top: 17px;
        font-family: opensans;
        font-weight: 400;
        @include font-rem(18);
        line-height: 1.7;
        color: white;

        @media (min-width: 768px) {
            @include font-rem(25);       
        }
    }

    &__buttons {
        margin: 30px auto 0;
        width: 100%;

        @media (min-width: 576px) {
            width: 450px;
            margin: 55px auto 0;
            display: flex;
            justify-content: space-between; 
        }
    }
}

.hireUs {
    display: block;
    margin: 30px auto;
    width: 280px;

    @media (min-width: 576px) {
        margin: 0;
        padding: 14px 72px;
        width: auto;
    }
}

.ourWorks {
    display: block;
    margin: 0 auto;
    width: 280px;

    @media (min-width: 576px) {
        margin: 0;
        width: auto;
    }
}

.down {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 100px;
    position: relative;
    animation: jumping 1s linear infinite;

    @media (min-width: 576px) {
        margin-top: 140px;
    }
    
    @media (min-width: 768px) {
        margin-top: 190px;  
    }
    
    &:hover  {
        border-color:$color-orange;
    }
    
    &:hover .down__angle_icon {
        color:$color-orange;        
    }
        
    &__angle {
        &_icon {
            font-size: 24px;
            line-height: 38px;
            color: white; 
        }
    }
}